body {
    background-color: #222930;
    color: #E9E9E9;
}

h1, h1 > a {
    text-align: center;
    font-family: 'Lobster', cursive;
    font-size: 46px;
    color: #E9E9E9;
}

h1 > a:hover {
    text-decoration: none;
    color: #4EB1BA;
}

body {
    /*font-family: Georgia serif;*/
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

p {
    font-size: 1.2em;
}

.nav-pills > li > a {
    font-size: 16px;
    border-radius: 0;
    color: #FF6956;
    box-shadow: none;
    font-weight: 700;
}

.nav-pills > li > a:hover {
    background-color: #FF6956;
    color: #E9E9E9;
}

.nav-pills > li > a:active {
    background-color: #FF6956;
    color: #E9E9E9;
}

.centered-pills {
    text-align: center;
}

.centered-pills ul.nav-pills {
    display: inline-block;
}

.centered-pills li {
    display: inline;
}

.centered-pills a {
    float: left;
}

.navbar .nav-pills .active > a {
    background-color: #FF6956;
    color: #0088cc;
}

#writePost {
    border: 1px solid gray;
    border-radius: 8px;
    height: 150px;
    width: 100%;
    display: block;
    color: black;
}

.myBtn {
    background-color: #4EB1BA;
    border-radius: 0;
    border: 2px solid #4EB1BA;
    color: #E9E9E9;
    box-shadow: none;
    font-weight: 700;
}

.myBtn:hover {
    background-color: #427f88;
    border-radius: 0;
    border: 2px solid #427f88;
    color: #E9E9E9;
    box-shadow: none;
    font-weight: 700;
}

.posts {
    border-bottom: 1px solid #38424a;
    padding-top: 10px;
}

.gridPosts {
    border: 1px solid #38424a;
    padding: 7px;
}

.hideMe {
    display: none;
}

.imgg {
    width: 150px;
    height: 130px;
}

.grid-imgg {
    width: 200px;
    height: 170px;
}


.dates {
    font-size: .7em;
    float: right;
}

.settings-content {
    background-color: #E9E9E9;
    padding-top: 5px;
    padding-bottom: 10px;
    padding-left: 10px;
    color: black;
}

.settings-tabs > li > a {
    font-size: 16px;
    border-radius: 0;
    color: #FF6956;
    box-shadow: none;
    font-weight: 700;
}

.settings-tabs > li > a:hover {
    background-color: #646e88;
    border: none;
}

.settings-tabs > li.active > a, .settings-tabs > li.active > a:focus, .settings-tabs > li.active > a:hover {
    background-color: #405363;
    color: #FF6956;
    border: 1px solid black;
    border-bottom-color: transparent;
}

#formMsg {
    color: #FF6956;
}

#formMsg-success {
    color: #337ab7;
}

.success {
    background-color: #337ab7;
    padding: 10px;
    color: white;
}

.error {
    background-color: #FF6956;
    padding: 10px;
    color: white;
}