{% extends "layout.html" %}
{% block content %}
    <h2>{{ text }}</h2>
    <h4>Filler text created using Hipster Lorem Ipsum</h4>
    <p>Kale chips lo-fi, chillwave food truck DIY ennui chicharrones 90's helvetica lomo gochujang godard. Cray deep v
        four loko. Messenger bag brooklyn, small batch tattooed occupy stumptown chicharrones locavore
        pitchfork. Knausgaard gastropub offal, selfies occupy mixtape master cleanse green juice forage literally migas.
        Drinking vinegar farm-to-table mustache normcore godard schlitz. Cronut hoodie chambray intelligentsia wolf
        ramps, heirloom church-key humblebrag tote bag lumbersexual helvetica sartorial. Single-origin coffee
        keytar swag, cliche asymmetrical retro narwhal venmo raw denim master cleanse butcher.

        Bespoke gluten-free pinterest actually, neutra paleo mustache jean shorts cold-pressed. Post-ironic fanny pack
        sustainable, church-key you probably haven't heard of them tilde bushwick flannel cornhole. Microdosing
        williamsburg fashion axe, wolf venmo umami sustainable beard farm-to-table church-key meggings ennui pickled
        four loko. Pabst stumptown locavore, banh mi gastropub ramps wolf art party vice biodiesel. Retro post-ironic
        neutra yuccie, schlitz you probably haven't heard of them PBR seitan lo-fi portland vice venmo keytar.
        Wayfarers artisan squid small batch fap, scenester tacos leggings echo park. Small batch church-key asymmetrical
        post-ironic etsy photo booth, umami irony kickstarter.</p>
{% endblock %}